@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@font-face {
  font-family: 'AvenirBook';
  src: url('./assets/fonts/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.avenir-book {
  font-family: 'AvenirBook', sans-serif;
  font-weight: 100;
}

.regular-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* Regular */
}

.medium-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /* Medium */
}